<!DOCTYPE html>
<html lang=zh>
<head>
    <meta charset="utf-8">
    <title> Edgar Deng Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <link type="favicon" rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/brands.css"
          integrity="sha384-nT8r1Kzllf71iZl81CdFzObMsaLOhqBU1JD2+XoAALbdtWaXDOlWOZTR4v1ktjPE" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css"
          integrity="sha384-HbmWTHay9psM8qyzEKPc8odH4DsOuzdejtnr+OFtDmOcIVnhgReQ4GZBH7uwcjf6" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/solid.css"
          integrity="sha384-wnAC7ln+XN0UKdcPvJvtqIH3jOjs9pnKnq9qX68ImXvOGz2JuFoEiCjT8jyZQX2z" crossorigin="anonymous">

    <link href="../resource/css/aside.css" rel="stylesheet">
    <link href="../resource/css/category.css" rel="stylesheet">

</head>

<body>
<div id="app">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="">Edgar Deng Blog</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                    aria-label="Toggle navigation"> Menu
                <i class="fas fa-bars"> </i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead"
            v-bind:style="{ backgroundImage: 'url(' + category.bg + ')' }">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-9 mx-auto">
                    <div class="page-heading">
                        <h2>{{category.name}} Develop Study</h2>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">

                <div class="card" v-for="item in articleList">
                    <!--<img class="card-img-top" src="..." alt="">-->
                    <div class="card-body">
                        <h5 class="card-title">{{item.name}}</h5>
                        <p class="card-text">{{item.about}}</p>
                        <div class="d-flex justify-content-between">
                            <small class="text-muted">{{item.datetime}}</small>
                            <button class="btn btn-primary" v-on:click="handleClick(item)">check</button>
                        </div>
                    </div>
                </div>

                <div v-show="pagination.size > 1">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">

                            <li class="page-item" v-bind:class="{ disabled: pagination.index == 0 }">
                                <button class="page-link" aria-label="Previous" @click="showPagePre">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </button>
                            </li>

                            <li class="page-item" v-bind:class="{ active: page == pagination.index }"
                                v-for="page in pageItemArr">
                                <button class="page-link" @click="showPage(page)">{{page + 1}}</button>
                            </li>

                            <li class="page-item" v-bind:class="{ disabled: pagination.index == pagination.size -1 }">
                                <button class="page-link" href="#" aria-label="Next" @click="showPageNext">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </button>
                            </li>

                        </ul>
                    </nav>
                </div>

            </div>

            <!-- Sidebar Widgets Column -->
            <div class="col-md-4">
                <div>
                    <!-- Search Widget -->
                    <div class="card">
                        <h5 class="card-header">Search</h5>
                        <div class="card-body">
                            <div class="input-group mb-3">
                                <input type="search" class="form-control" placeholder="Keyword" aria-label="Keyword"
                                       v-model="keyword">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button"
                                            v-on:click="handleSearchClick()">Search
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Categories Widget -->
                    <div class="card">
                        <h5 class="card-header">Categories</h5>
                        <div class="card-body p-2">
                            <div class="list-group list-group-flush">
                                <button type="button"
                                        class="list-group-item list-group-item-action"
                                        v-for="item in categories"
                                        v-on:click="handleCateClick(item)">
                                    <i :class="item.ic" :style="item.sty"> </i> {{item.name}}
                                </button>
                            </div>
                        </div>
                    </div>

                     <!-- Author Widget -->
                    <div class="card ">
                        <div class="card-body text-center">
                                <a class="author" href="/about">
                                    <img class="favicon"
                                         src="../resource/image/favicon.jpg"
                                         alt=""/>
                                    <div> Edgar Deng</div>
                                    <div class="figure-caption"> FE Developer in Web, Android, iOS</div>
                                    <div class="social-account">
                                        <a href="https://weibo.com/edgardeng" target="_blank">
                                            <i class="fab fa-weibo fa-2x" style="color:#EE5544;"> </i>
                                        </a>
                                        <a href="https://github.com/edgardeng" target="_blank">
                                            <i class="fab fa-github fa-2x" style="color:#2b3137"> </i>
                                        </a>
                                    </div>
                                </a>

                            </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <p class="copyright text-center">Copyright © Edgar Deng 2018</p>
                </div>
            </div>
        </div>
    </footer>

</div>

</body>

<script src=" https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<!--<script src=" https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js" > </script>-->
<script src=" https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>

<script lang="javascript">

    let app = new Vue({
        el: '#app',
        data: {
            page: undefined,
            articleList: [],
            category: {},
            categories: [],
            articleAll: [],
            pagination: {
                index: 0,
                size: 1,
                count: 5,
            },
            pageItemArr: [],
            totalCount: 0,
            keyword: ''
        },
        mounted: function () {
            var _self = this;

            let page = _self.getUrlParam('cate');
            if (!page) {
                page = "android"
            }
            _self.page = page

            $.get("../asset/category.json", function (data) {
                for (index in data) {
                    if (_self.page === data[index].page) {
                        _self.category = data[index]
                    }
                }
                _self.categories = data
            })
            this.getArticleList()
        },
        methods: {
            handleClick: function (item) {
                let page = encodeURI(item.page)
                window.location.href = "./index.html?article=" + page
            },
            handleSearchClick: function () {
                if (this.keyword.length < 1) {
                    // this.showArticle()
                } else {
                    this.articleList = this.articleAll.filter((e) => {
                        let name = e.name.indexOf(this.keyword) >= 0;
                        let desc = e.about.indexOf(this.keyword) >= 0;
                        return name | desc;
                    })
                }
            },
            handleCateClick: function (item) {
                if (this.page !== item.page) {
                    this.page = item.page
                    this.category = item
                }
                this.getArticleList()
                this.toTop(50)
            },
            toTop(i) {
                // 参数i表示间隔的幅度大小，以此来控制速度
                document.documentElement.scrollTop -= i;
                if (document.documentElement.scrollTop > 0) {
                    var c = setTimeout(() => this.toTop(i), 20)
                } else {
                    clearTimeout(c);
                }
            },
            getUrlParam: function (name) {
                let reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
                let r = window.location.search.substr(1).match(reg); //匹配目标参数
                if (r !== null) {
                    return decodeURI(r[2]);
                }
                return null; //返回参数值
            },
            getArticleList() {
                let _self = this;
                $.get("../asset/" + this.page + ".json", function (data) {
                    _self.articleAll = data
                    _self.showArticleList()
                })
            },
            showArticleList() {
                this.totalCount = this.articleAll.length
                this.pagination.index = 0
                let pSize = Math.floor(this.totalCount / 5) + 1
                this.pagination.size = pSize
                // set pageItem
                if (pSize > 1) {
                    this.pageItemArr = []
                    for (let i = 0; i < pSize; i++) {
                        this.pageItemArr.push(i)
                    }
                }
                this.showArticle()
            },
            showPagePre() {
                let index = this.pagination.index
                if (index > 0) {
                    this.pagination.index = index - 1
                    this.showArticle()
                }
            },
            showPageNext() {
                let index = this.pagination.index
                if (index < this.pagination.size - 1) {
                    this.pagination.index = index + 1
                    this.showArticle()
                }
            },
            showPage(index) {
                if (index === this.pagination.index) {
                    return
                }
                if (index >= 0 && index < this.pagination.size) {
                    this.pagination.index = index
                    this.showArticle()
                }
            },
            showArticle() {
                let index = this.pagination.index
                let count = this.pagination.count
                let articles = []; // index
                for (let i = 0; i < 5; i++) {
                    let j = count * index + i;
                    if (j >= this.totalCount) {
                        break
                    }
                    articles.push(this.articleAll[j])
                }
                // get data
                this.articleList = articles
            }
        }
    })

    $(function () {
        "use strict"; // Start of use strict
        // Collapse Navbar
        let navbarCollapse = function () {
            if ($("#mainNav").offset().top > 400) {
                $("#mainNav").addClass("bg-primary");
            } else {
                $("#mainNav").removeClass("bg-primary");
            }
        };
        // Collapse now if page is not at top
        navbarCollapse();
        // Collapse the navbar when page is scrolled
        $(window).scroll(navbarCollapse);
    })

</script>
</html>
