/*

Original highlight.js style (c) Ivan Sagalaev <maniac@softwaremaniacs.org>

*/
body {
  /*font: normal 100% Helvetica, Arial, sans-serif;*/
  margin: 0;
  background: #f0f0f0;
}

.article {

}

.article .article-wrapper {
  overflow: visible;
  background: white;
  width: 70%;
  padding: 20px;
  max-width: 800px;
  margin: 100px auto 0 auto;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
}




.part-head {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fafbfc;
  display: flex;
  display: -webkit-flex;
  margin-bottom: 10px;
}

.part-article {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 90%;
  max-width: 1000px;
  padding: 10px 4%;
  background: white;
  overflow: auto;
  /*font-size: 85%;*/
  line-height: 2em;
  border-radius: 3px;
}

p {
  font-size: 16px;
  font-family: Source Sans Pro, sans-serif;

}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  line-height: 1.6em;
}

.part-article pre {
  background: #f6f8fa;
  padding: 20px;
  white-space: pre-wrap;
  word-wrap: break-word;
  border-radius: 4px;
}

.part-article blockquote p {
  color: #cdcdcd;
  border-left: solid 5px #bcbcbc;
  padding-left: 20px;
}

