/*

*/

body {
  padding-top: 54px;
  margin: 0;
  background: #f0f0f0;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.article {

  background: white;
  padding: 20px;
  border-radius: 5px;
  margin-top: 1.5rem!important;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
}

.article .article-wrapper {
  overflow: visible;
  background: white;
  width: 70%;
  padding: 20px;
  max-width: 800px;
  margin: 100px auto 0 auto;
}

.fix-card {
  position: fixed;
}


@media screen and (max-width: 960px){
  .fix-card {
    position: inherit;
  }
}

/**   */

.author {

}
.author .favicon{
  width: 90px;
  height: 90px;
  border-radius: 45px;
  margin: 5px;
}
.author i {
  font-size: 1.5em;
}

.social-account {
  padding-top: 10px;
}

.social-account a{
  margin: 5px;
}

.list-group-item:hover ,.list-group-item:focus{
  color: #007bff;
}

.list-group-item i{
  margin-right: 10px;
}




p {
  font-size: 16px;
  font-family: -apple-system,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Arial,sans-serif;
  line-height: 32px;

}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  line-height: 1.6em;
}

.article pre {
  background: #f6f8fa;
  padding: 20px;
  white-space: pre-wrap;
  word-wrap: break-word;
  border-radius: 4px;
}

.article blockquote {
  color: #B6A4A6;
  margin: 1.5rem 1rem ;
  font-style: italic;
}

.article blockquote p {
  border-left: solid 5px #F78D40;
  padding-left: 10px;
  font-size: 14px;
}

h1 ,h2 {
  margin: 20px 0;
}

h3,h4 {
  margin: 10px 0;
}

