/*
  aside widget for author and category
*/

.author {

}
.author .favicon{
  width: 90px;
  height: 90px;
  border-radius: 45px;
  margin: 5px;
}
.author i {
  font-size: 1.5em;
}

.social-account {
  padding-top: 10px;
}

.social-account a{
  margin: 5px;
}

.list-group-item:hover ,.list-group-item:focus{
  color: #007bff;
}

.list-group-item i{
  margin-right: 10px;
}
