.p-triangle {
  width: 0;
  height: 0;
  border-style: solid;
}

.p-scalane {
  border-width: 0 40px 120px 40px;
  border-color: transparent transparent #A89364 transparent;
}

.p-scalane--sm {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-width: 0 10px 30px 10px;
  border-color: transparent transparent #E7E0B7 transparent;
}
.p-equilateral {
  border-width: 70px 40px 0 40px;
  border-color: #E7E0B7 transparent transparent transparent;
}

.p-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.boat {
  -webkit-animation: sail_away 2s 2s ease-in-out alternate 40;
  animation: sail_away 2s 2s ease-in-out alternate 40;
  width: 240px;
  margin: -182px auto 0 auto;
  /*margin: 10% auto;*/
}

.boat__top {
  position: relative;
}
.boat__top-flagpole {
  width: 80px;
  height: 120px;
  border-left: 2.4px solid #fff;
  margin-left: -1.2px;
  position: absolute;
  top: 1.2px;
  left: 50%;
}

.boat__top-flagpole > .p-scalane--sm {
  /*-webkit-animation: flag 2s ease-in forwards;*/
  /*animation: flag 2s ease-in forwards;*/
  position: absolute;
  top: -6px;
  left: 3px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.boat__bottom > .p-triangle:nth-child(even) {
  border-top-color: #A89364;
  margin: -40px;
  -webkit-transform: rotateX(180deg) translateY(-40px);
  transform: rotateX(180deg) translateY(-40px);
}

/*@-webkit-keyframes flag {*/
  /*from {*/
    /*top: 100%;*/
  /*}*/
  /*to {*/
    /*top: -12px;*/
  /*}*/
/*}*/

/*@keyframes flag {*/
  /*from {*/
    /*top: 100%;*/
  /*}*/
  /*to {*/
    /*top: -12px;*/
  /*}*/
/*}*/

@-webkit-keyframes sail_away {
  50% {
    -webkit-transform: rotate(2deg) translate(10px);
    transform: rotate(2deg) translate(10px);
  }
  100% {
    -webkit-transform: rotate(-3deg) translate(-5px);
    transform: rotate(-3deg) translate(-5px);
  }
}
@keyframes sail_away {
  50% {
    -webkit-transform: rotate(2deg) translate(10px);
    transform: rotate(2deg) translate(10px);
  }
  100% {
    -webkit-transform: rotate(-3deg) translate(-5px);
    transform: rotate(-3deg) translate(-5px);
  }
}

