/** style for article catalog *//*=========Blog==========*/
.post {

}

.post .row {
  margin: 0;
}

.post .post-excerpt {
  /*background: #fafafa;*/

  padding: 20px 25px;
  -webkit-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
}

.post .post-wrapper {
  overflow: visible;
  background: white;
  width: 70%;
  max-width: 800px;
  margin: 20px auto 0 auto;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
}

.post .post-wrapper:hover, .post .post-wrapper:focus{
  -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.4);
  background: #fff;
}

.post .post-wrapper .feature-content{
  max-width: 100%;
  height: 0;
  padding-bottom:  50%;
  overflow: hidden;
  align-items: center;
  background-color: #7c79ce;
  z-index: -1;
}

.post .post-wrapper .feature-content img{
  border-radius: 5px 5px 0 0;
  width: 100%;
  background-size: cover;
  z-index: -1;
}

.post .post-wrapper .post-title {
  z-index: 999;
  line-height: 40px;
  margin-top: -60px;
  padding: 0 15px ;
  font-size: 32px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  color: white;
  /*background-color: rgba(0, 0, 0, 0.8);*/
}

.post .post-wrapper .post-content {
  padding: 0  10px ;
  color: #303040;
}

.post .post-wrapper .post-date {
  text-align: right;
  padding: 0 10px 10px 10px;
  line-height: 1;
  text-transform: uppercase;
  color: #b2b2b2;
  font-family: "Kanit", sans-serif;
  letter-spacing: 0.75px;
}

.post .post-wrapper .feature-content a .video-mark {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  z-index: 3;
}

.post .post-wrapper p {
  font: 500 italic 20px/30px "Roboto", sans-serif;
}

