
header.masthead {
  margin-bottom: 50px;
  background-attachment: scroll;
  background-size: auto;
  background-repeat: repeat;
  background-position: center center;
  /*background-color: #868e96;*/
  position: relative;
  -webkit-background-size: auto;
  -moz-background-size: auto;
  -o-background-size: auto;
}

header.masthead .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #212529;
  opacity: .8;
  overflow: hidden;
}

header.masthead .page-heading {
  padding: 240px 0 150px;
  color: #fff
}

@media only screen and (min-width: 768px) {
  header.masthead .page-heading {
    padding: 200px 0
  }
}

header.masthead .page-heading{
  text-align: center
}

header.masthead .page-heading h1{
  font-size: 50px;
  margin-top: 0
}


@media only screen and (min-width: 768px) {
  header.masthead .page-heading h1, header.masthead .site-heading h1 {
    font-size: 80px
  }
}


.navbar .navbar-brand,.navbar .navbar-toggler , .navbar .navbar-nav .nav-link{
  color:white;
}

.navbar .navbar-toggler {
  border-color:white;
}

#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover, .navbar .navbar-nav .nav-link:hover{
  color: rgba(250, 255, 250, .8)
}

.card {
  margin-bottom: 20px;
}
.card .card-text{
  color: #868e96;
}
.card .text-muted {
  line-height: 38px;
}