.article-list {
    width: 80%;
    margin: 10px auto;
}
.article {
    border-top: solid 1px lightgray;
    padding: 10px 10px;
}
.article .title {
    font-size: 24px;
    margin-bottom: 10px;
}

.article .about {
    margin-left: 5px;
    color: #d0d0d0;
    margin-bottom: 10px;
}

.article .more {
    color: cornflowerblue;
    margin-top: 20px;
}

.article .time {
    margin-left: 5px;
    font-size: 12px;
    margin-top: -5px;
    margin-bottom: 5px;
    color: gray;
}



.logo-innner {
    padding-top: 20px;
    width: 80%;
    margin-left: 10%;
}
.logo-content {
    margin: 30px 0;
    width: 100%;
    text-align: center;
}
.logoImage {
    width: 180px;
    height: 180px;
    border-radius: 91px;
    border: solid 2px orange;
}
.social-account {

    text-align: right;
}
.social-account a {
    margin: 10px 5px;

}

.foot {
    margin-top: 30px;
    margin-left: 2%;
    border-top: solid 1px  #e0e0e0;
    width: 90%;
    text-align: center;
    padding: 30px;
    font-size: 14px;
    color: gray;
}