/** timeline for career */

.dsk-supported {
  position:relative;
  width:100%;
  margin:0 auto;
  height:480px;
}

.dsk-supported .dsk-wrapper {
  outline:0;
  overflow:visible !important;
  position: absolute;
  width: 100%;
  height: 100%;

}

.dsk-supported .dsk-circle {
  -moz-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
  user-select:none;
  cursor:pointer;
  width:40px;
  height:40px;
  border:4px solid rgba(255,255,255,1);
  background:#666;
  border-radius:50%;
  line-height:40px;
  text-align:center;
  font-size:12px;
  color:#fff;
  box-shadow:0 0 2px rgba(0,0,0,.1);
  -webkit-transition:all .5s ease-in;
  -moz-transition:all .5s ease-in;
  -ms-transition:all .5s ease-in;
  -o-transition:all .5s ease-in;
  transition:all .5s ease-in;
  position:relative
}

.dsk-supported .active .dsk-circle {
  background:#F60;
  background-clip:padding-box;
  width:56px;
  height:56px;
  line-height:56px;
  font-size:16px;
  margin-top:-28px;
  margin-left: -14px;
}

.dsk-supported .dsk-titlenode {
  font-size:88px;
  margin-top:-88px;
  cursor:pointer;
  -webkit-transition:all 1s ease-in .5s;
  -moz-transition:all 1s ease-in .5s;
  -ms-transition:all 1s ease-in .5s;
  -o-transition:all 1s ease-in .5s;
  transition:all 1s ease-in .5s
}
.dsk-supported .active .dsk-titlenode {
  margin-top:-140px;
  text-shadow:2px 2px 2px rgba(0,0,0,.2)
}


.dsk-supported .dsk-circle-title {
  text-shadow:1px 1px 0 rgba(0,0,0,.2);
  width:200px;
  text-align:center;
  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  -ms-transform:rotate(-45deg);
  -o-transform:rotate(-45deg);
  transform:rotate(-45deg);
  position:absolute;
  top:60px;
  left:-110px;
  margin:0;
  padding:0;
  font-weight:300;
  color:#fff;
  line-height:1.2em;
  font-size:14px;
  -webkit-transition:all .6s ease-in-out .5s;
  -moz-transition:all .6s ease-in-out .5s;
  -ms-transition:all .6s ease-in-out .5s;
  -o-transition:all .6s ease-in-out .5s;
  transition:all .6s ease-in-out .5s
}
.dsk-supported .active .dsk-circle-title {
  width:200px;
  -webkit-transform:rotate(0deg);
  -moz-transform:rotate(0deg);
  -ms-transform:rotate(0deg);
  -o-transform:rotate(0deg);
  transform:rotate(0deg);
  left:-118px;
  top:-56px;
  font-size:16px;
  font-weight:normal;
  text-shadow:1px 1px 1px rgba(0,0,0,.3)
}

.dsk-supported .dsk-content {
  position:absolute;
  top:-300px;
  height:300px;
  left:-200px;
  text-align: left;
  opacity:0;
  -webkit-transition:all .5s ease-in;
  -moz-transition:all .5s ease-in;
  -ms-transition:all .5s ease-in;
  -o-transition:all .5s ease-in;
  transition:all .5s ease-in;
  -webkit-transform:scale(0.5);
  -moz-transform:scale(0.5);
  -ms--transform:scale(0.5);
  -o--transform:scale(0.5);
  transform:scale(0.5)
}

.dsk-supported .active .dsk-content {
  opacity:1;
  -webkit-transform:scale(1);
  -moz-transform:scale(1);
  -ms--transform:scale(1);
  -o--transform:scale(1);
  transform:scale(1);
  -webkit-transition:all 1s ease-in-out .5s;
  -moz-transition:all 1s ease-in-out .5s;
  -ms-transition:all 1s ease-in-out .5s;
  -o-transition:all 1s ease-in-out .5s;
  transition:all 1s ease-in-out .5s
}

.dsk-supported .dsk-content>img {
  max-width:256px;
  max-height:300px;
  position:absolute;
  right:0;
  top:0
}
.dsk-supported .dsk-info {
  width:450px;
  text-shadow:2px 2px 2px rgba(0,0,0,.2)
}
.dsk-supported .dsk-info h2 {
  margin:0 0 20px 0;
  font-weight:normal;
  font-size:30px
}
.dsk-supported .dsk-info p {
  line-height:1.8em;
  font-size:15px;
  margin:0
}
.dsk-supported .dsk-link {
  margin-top:15px;
  color:#fff;
  text-decoration:none;
  background:rgba(255,255,255,.3);
  box-shadow:0 1px rgba(255,255,255,0.15) inset;
  border:0;
  font-size:14px;
  padding:6px 10px;
  border-radius:3px;
  display:inline-block;
  -webkit-transition:all 1s ease-in-out 1.5s;
  -moz-transition:all 1s ease-in-out 2s;
  -ms-transition:all 1s ease-in-out 2s;
  -o-transition:all 1s ease-in-out 2s;
  transition:all 1s ease-in-out 1s;
  opacity:0;
  -webkit-transform:translateY(30px);
  -moz-transform:translateY(30px);
  -ms-transform:translateY(30px);
  -o-transform:translateY(30px);
  transform:translateY(30px)
}
.dsk-supported .active .dsk-link {
  opacity:1;
  -webkit-transform:translateY(0px);
  -moz-transform:translateY(0px);
  -ms-transform:translateY(0px);
  -o-transform:translateY(0px);
  transform:translateY(0px)
}
.dsk-supported .dsk-year-info {
  font-size:24px;
  padding:10px
}

@media screen and (max-width:650px) {
  .dsk-supported {
    height:400px
  }
}

.dsk-supported .step {
  width:300px;
  position:relative
}


.step-group{
  position: relative;
  width: 540px;
  left: 50%;
  height: 100%;
  bottom: 58px;
  transform: translate(-50%, 0);
}
.step-group .step {
  position: absolute;
  bottom: 0;
  transform-style: preserve-3d;
}

.wrap-line {

  height:5px;
  position: absolute;
  width: 80%;
  left: 10%;
  bottom: 98px;
  background:rgba(255,255,255,.3);
  box-shadow:0 1px rgba(255,255,255,0.15) inset;
  background:-moz-linear-gradient(-45deg,#cebe29 0,#9b1f50 33%,#2989d8 71%,#89b4ff 91%);
  background:-webkit-gradient(linear,left top,right bottom,color-stop(0%,#cebe29),color-stop(33%,#9b1f50),color-stop(71%,#2989d8),color-stop(91%,#89b4ff));
  background:-webkit-linear-gradient(-45deg,#cebe29 0,#9b1f50 33%,#2989d8 71%,#89b4ff 91%);
  background:-o-linear-gradient(-45deg,#cebe29 0,#9b1f50 33%,#2989d8 71%,#89b4ff 91%);
  background:-ms-linear-gradient(-45deg,#cebe29 0,#9b1f50 33%,#2989d8 71%,#89b4ff 91%);
  background:linear-gradient(135deg,#cebe29 0,#9b1f50 33%,#2989d8 71%,#89b4ff 91%);

}


#step-1 {
  transform: translate(-50%, -50%) translate3d(200px, 0px, 0px) ;
}
#step-2 {
  transform: translate(-50%, -50%) translate3d(300px, 0px, 0px) ;
}
#step-3 {
  transform: translate(-50%, -50%) translate3d(400px, 0px, 0px) ;
}
#step-4 {
  transform: translate(-50%, -50%) translate3d(500px, 0px, 0px);
}
#step-5 {
  transform: translate(-50%, -50%) translate3d(600px, 0px, 0px) ;
}

#step-1 .dsk-content {
  left: 0;
}
#step-2 .dsk-content {
  left: -100px;
}
#step-4 .dsk-content {
  left: -300px;
}
#step-5 .dsk-content {
  left: -400px;
}



@media screen and (max-width:1080px) {


  .wrap-line {
    width:5px;
    position: absolute;
    height: 80%;
    top:10%;
    left: 40px;
  }

  .step-group {
    width: 100%;
    left: 0;
    transform: translate(0, 0);
  }
  .step-group .step {
     position: relative;
  }

  .dsk-supported .active .dsk-circle {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    margin-top: -28px;
    margin-left: -18px;
  }

  .step .dsk-circle {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    margin-top: -28px;
    margin-left: -14px;
  }


  #step-1 {
    transform: translate(-50%, -50%) translate3d(190px, 120px, 0px) ;
  }
  #step-2 {
    transform: translate(-50%, -50%) translate3d(190px, 200px, 0px) ;
  }
  #step-3 {
    transform: translate(-50%, -50%) translate3d(190px, 280px, 0px) ;
  }
  #step-4 {
    transform: translate(-50%, -50%) translate3d(190px, 360px, 0px);
  }
  #step-5 {
    transform: translate(-50%, -50%) translate3d(190px, 440px, 0px) ;
  }


  #step-1 .dsk-content {
    left: 60px;
    top:  60px;
  }
  #step-2 .dsk-content {
    left: 60px;
    top:  -20px;
  }

  #step-3 .dsk-content {
    left: 60px;
    top: -100px;
  }

  #step-4 .dsk-content {
    left: 60px;
    top: -180px;
  }
  #step-5 .dsk-content {
    left: 60px;
    top: -260px;
  }

  .dsk-content .dsk-info{
    width: 75%;
  }

  .dsk-supported  .dsk-circle-title {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    top: -30px;
    left: -120px;
  }

  .dsk-supported .active .dsk-circle-title {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    left: -60px;
    top: 18px;
  }


}



