html, body, div, span, applet, object,
iframe, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
html, body{
    width: 100%;
    height: 100%;
}
body {
    background-color:#f7f4ed;;
}


/* Basic */

@-ms-viewport {
    width: device-width;
}

@media screen and (max-width: 480px) {
    html, body {
        min-width: 320px;
    }
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    font-size: 18pt;
}

@media screen and (max-width: 1680px) {
    html {
        font-size: 14pt;
    }
}

@media screen and (max-width: 736px) {
    html {
        font-size: 12pt;
    }
}
/** app **/
#app {
    min-height: 100%;
}

#app .navbar {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, .1);
}

#app .app-header {
    padding-top: 95px;
}

.navbar-brand .navbar-brand-name {
    display: none;
}

@media screen and (max-width: 736px) {
    .navbar-brand .navbar-brand-name {
        display: inline-block;
    }
    #app .app-header {
        padding-top: 75px;
    }
}
